.arrive-form-control { 
    display: block;
    width: 40%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} 

.table-scroll {
    height: 300px; /* 好きな高さに */
    overflow-y: auto;
}

.sales-table thead th{
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 10;
}

.sales-table {
    margin-bottom: 0;
}

.section-space {
    margin-bottom: 90px; /* ここ自由に */
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
    margin-left: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-header-left {
    flex: 1;
    text-align: left;
}

.card-header-center {
    flex: 1;
    text-align: center;
}

.card-header-right {
    flex: 1;
    text-align: right;
}

.search-form {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.searchForm-control {
    width: 300px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn-danger { 
    margin-right: 20px;
}

.main_header {
    display: flex;
    height: 300px;
}

.main_bottom {
    display: flex;
    height: 300px;
}

.header_area {
    background-color: #eee;
    padding: 20px;
    margin: 10px;
}

.bottom_area {
    background-color: #eee;
    padding: 20px;
    margin: 10px;
}

.heder_box {
    border-bottom: black;
}

.bottom_box {
    text-align: center;
}

